# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.venv
pip-log.txt
pip-delete-this-directory.txt

# Django
*.log
*.pot
local_settings.py
myportal/local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static_root/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment variables
.env

# Temporary files
*.tmp
*.bak