django-globus-portal-framework
django-sslserver-v2
pandas
numpy
scikit-learn
scikit-optimize
globus-compute-sdk
globus-cli
dj-database-url
psycopg2-binary
redis
django-redis
gunicorn
whitenoise
# Use CPU-only version of torch (smaller for deployment)
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.0.1+cpu
torch_geometric
snntorch