Your Django template code looks mostly correct, but I've made a few adjustments for clarity and potential improvements. Here's a revised version of the file with fixes for syntax errors, improved readability, and best practices:

```django
{% extends "globus-portal-framework/v2/base.html" %}
{% load static %}

<style>
.btn-disabled {
    background-color: #6c757d !important; /* Bootstrap's default for disabled state */
    border-color: #6c757d !important;
    pointer-events: none; /* Prevents clicking on the button */
    opacity: 0.65; /* Makes it visually appear disabled */
}
</style>

href="{% url 'Test_Tagging_System' %}"

{% block body %}
    <div style="position:fixed; top:0; left:0; width:100%; height:100%; background-size: cover; opacity: 0.25; z-index: -1;"></div>

    <!-- Bootstrap CSS and JS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <div class="container-fluid">
        <!-- Button to 'Upload_Tutorial' -->
        <button type="button" class="btn btn-primary" onclick="location.href='{% url 'Upload_Tutorial' %}'">Upload Tutorial</button>


        <!-- Form for user input -->
        <form id="uploadForm" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="creatorName">Creator Name:</label>
                <input type="text" class="form-control" id="creatorName" name="creator_name" required>
            </div>
            <div class="form-group">
                <label for="fileTitle">File Title (Please copy the full name of the file, including the format suffix such as csv, txt, dat etc.):</label>
                <input type="text" class="form-control" id="fileTitle" name="file_title" required>
            </div>
            <div class="form-group">
                <label>Group PI:</label>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="group_pi[]" value="Junhong Chen">
                    <label class="form-check-label">Junhong Chen</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="group_pi[]" value="Yuxin Chen">
                    <label class="form-check-label">Yuxin Chen</label>
                </div>
                <!-- Add more checkboxes as needed -->
            </div>
            <div class="form-group">
                <label for="documentFormat">Document Format:</label>
                <select class="form-control" id="documentFormat" name="document_format" required>
                    <option value="" disabled selected>Select Document Format</option>
                    <option value="excel">Excel (csv, xls, etc.)</option>
                    <option value="word">Word (doc, docx, etc.)</option>
                    <option value="pdf">PDF</option>
                    <option value="plaintext">Plain Text (txt etc.)</option>
                    <option value="binary">Binary (bin etc.)</option>
                    <option value="image">Image (jpg, png, tif, etc.)</option>
                    <option value="script">Script (python, matlab, R, etc.)</option>
                    <option value="model">Model (h5, pkl, etc.)</option>
                    <option value="others">Others</option>
                    <!-- Add more types as needed -->
                </select>
            </div>
            <div class="form-group">
                <label for="abstractDescription">Abstract Description (up to 200 characters):</label>
                <textarea class="form-control" id="abstractDescription" name="abstract_description" rows="3" maxlength="200"></textarea>
            </div>
            <div class="form-group">
                <label for="outerlink">Outer Link</label>
                <textarea class="form-control" id="outerlink" name="outer_link" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="dataType">Data Type:</label>
                <select class="form-control" id="dataType" name="data_type" required>
                    <option value="" disabled selected>Select Data Type</option>
                    <option value="publication">Publication</option>
                    <option value="dataset">Dataset</option>
                    <option value="script">Script</option>
                    <option value="records">Records</option>
                    <option value="computationresults">Computation Results</option>
                    <option value="images">Images</option>
                    <option value="others">Others</option>
                    <!-- Add more types as needed -->
                </select>
            </div>
            <div class="form-group">
                <label for="thrustType">Thrust Type:</label>
                <select class="form-control" id="thrustType" name="thrust_type" required>
                    <option value="" disabled selected>Select Thrust Type</option>
                    <option>Thrust 1</option>
                    <option>Thrust 2</option>
                    <option>Thrust 3</option>
                    <option>Thrust 4</option>
                    <option>Thrust 5</option>
                </select>
            </div>
            <div class="form-group">
                <label>Select Tags:</label>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="tags[]" value="Dummy">
                    <label class="form-check-label">Dummy</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="tags[]" value="Experimental">
                    <label class="form-check-label">Experimental</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="tags[]" value="Simulation">
                    <label class="form-check-label">Simulation</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="tags[]" value="Publication">
                    <label class="form-check-label">Publication</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="tags[]" value="Dataset">
                    <label class="form-check-label">Dataset</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="tags[]" value="MLmodel">
                    <label class="form-check-label">ML model</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="tags[]" value="Image">
                    <label class="form-check-label">Image</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="tags[]" value="Script">
                    <label class="form-check-label">Script</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="tags[]" value="Records">
                    <label class="form-check-label">Records</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="tags[]" value="Results">
                    <label class="form-check-label">Results</label>
                </div>
                <!-- Add more checkboxes as needed -->
            </div>

            <button type="button" id="clearForm" class="btn btn-secondary">Clear</button>
            <button type="button" id="generateJson" class="btn btn-primary">1. Generate JSON</button>    
            <button type="button" id="goToGlobus" class="btn btn-primary">2. Upload Your Generated JSON</button>
            <button type="button" id="uploadToGlobus" class="btn btn-success btn-disabled" data-enabled="false">3. Upload Your File in Corresponding Thrust Repository</button>
        </form>
    </div>

    <div id="uploadLog" class="container mt-4">
        <!-- Uploaded files will be logged here -->
    </div>

    <!-- Custom script for toggling -->
    <script>
        document.getElementById('clearForm').addEventListener('click', clearForm);

        function clearForm() {
            // Reset checkboxes
            var checkboxes = document.querySelectorAll('#uploadForm input[type="checkbox"]');
            checkboxes.forEach(function(checkbox) {
                checkbox.checked = false;
            });
            // Reset text inputs
            var inputs = document.querySelectorAll('#uploadForm input[type="text"], #uploadForm textarea');
            inputs.forEach(function(input) {
                input.value = '';
            });
            // Reset all select elements
            var selects = document.querySelectorAll('#uploadForm select');
            selects.forEach(function(select) {
                select.selectedIndex = 0; // Set to the first option